{% extends 'base.html' %}
{% block content %}

<div class="mw-100">
    <form method="post" enctype="multipart/form-data" action="{% url 'upload' %}">
        {% csrf_token %}
        <div class="custom-file mb-3">
            <input type="file" class="custom-file-input" id="csvFile" name="csv_file" accept=".csv">
            <label class="custom-file-label" for="csvFile">Choose a CSV file</label>
        </div>
        <a href="{% url 'upload_csv' %}" class="btn btn-primary">Upload CSV</a>
    </form>

</div>

{% endblock %}